<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>后台管理</title>
{{include file="layouts/_head"}}
</head>
<body>
<div class="main">
    <ol class="breadcrumb">
        <li><i class="icon_home iconfont"></i>首页</li>
        <li>设置中心</li>
        <li class="active">友情链接</li>
    </ol>
    <div class="bg-1 clearfix main-head-info">
        <a href="{{:url('/admin/design/friendlink_create')}}" class="btn btn-success btn-sm">创建</a>
        <button type="submit" class="btn btn-danger btn-sm" onclick="delAction()">批量删除</button>
        <span class="pull-right margin-t-5">共有数据：<strong>{{$friendlinks->total()}}</strong> 条</span>
    </div>
    <div class="main-con">
        {{if $friendlinks->total() > 0}}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" value=""></th>
                    <th>排序</th>
                    <th>名字</th>
                    <th>链接</th>
                    <th>状态</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{volist name="friendlinks" id="vo" key="key" }}
                <tr id="{{$vo.id}}">
                    <td><input type="checkbox" /></td>
                    <td>{{$vo.sort}}</td>
                    <td>{{$vo.name}}</td>
                    <td>{{$vo.url}}</td>
                    <td>
                        {{if $vo.status == 1}}<span class="label label-success">开启</span>{{else}}<span class="label label-danger">关闭</span>{{/if}}
                    </td>
                    <td>{{$vo.create_time|substr=0,10}}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{:url('/admin/design/friendlink_edit')}}?id={{$vo.id}}">编辑</a>
                        <button type="button" class="btn btn-danger btn-xs" onClick="delAction({{$vo.id}})">删除</button>
                    </td>
                </tr>
                {{/volist}}
            </tbody>
        </table>
        <div class="page">
        {{$friendlinks->appends(Request()->get())->render()|raw}}
        </div>
        {{else}}
        <p class="color-red text-center">数据为空！</p>
        {{/if}}
    </div>
</div>
{{include file="layouts/_foot"}}
<script type="text/javascript">
function delAction(id = '')
{
    if (id == '') {
        var trs = $("tbody :checkbox:checked").parents("tr");
        if (trs.length <= 0) {
            layer.msg('请勾选需删除的数据', {icon: 5, time: 1500}); return false;
        }
        var ids = '';
        for (var i = 0; i < trs.length; i++) {
            ids += trs[i].id+',';
        }
        id = ids.substr(0, ids.length - 1);
    }
    layer.confirm('确认删除？',function(index){
        layer.closeAll(); var load = layer.load();
        $.ajax({
            type: 'GET',
            url: '/admin/design/friendlink_delete?id='+id,
            dataType: 'json',
            success: function(res) {
                layer.close(load);
                if (res.code == 401) {
                    goLogin(); return false;
                }
                if (res.code == 200) {
                    layer.msg('提交成功', {time: 1500}, function() {window.location.reload();});
                } else if (res.code == 400) {
                    layer.msg(res.message); return false;
                } else {
                    layer.msg('操作失败'); return false;
                }
            }
        });     
    });
}    
</script>
</body>
</html>