<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>后台管理</title>
{{include file="layouts/_head"}}
</head>
<body>
<div class="main">
	<ol class="breadcrumb">
		<li><i class="icon_home iconfont"></i>首页</li>
	  	<li>设置中心</li>
	  	<li><a href="javascript:history.go(-1);">导航管理</a></li>
	  	<li class="active">编辑</li>
	</ol>
	<div class="bg-danger clearfix main-head-info error-info"></div>
	<div class="main-con">
		<form class="form-horizontal margin-t-30" id="form" method="post" action="{{:url('/admin/design/nav_edit')}}">
			<input type="hidden" name="id" value="{{$nav.id}}">
		  	<div class="tab-box">	
			  	<div class="form-group">
			    	<span class="col-sm-2 control-label"><span class="color-red">*</span> 显示名：</span>
			    	<div class="col-sm-8 input-group"><input class="form-control" name="name" value="{{$nav.name}}"></div>
			  	</div>
			  	<div class="form-group">
			    	<span class="col-sm-2 control-label">链接：</span>
			    	<div class="col-sm-8 input-group"><input class="form-control" name="url" value="{{$nav.url}}"></div>
			  	</div>
				<div class="form-group">
				    <span class="col-sm-2 control-label">排序：</span>
				    <div class="col-sm-2 input-group">
				    	<input class="form-control" name="sort" value="{{$nav.sort}}">
				    </div>
				</div>
				<div class="form-group">
				    <span class="col-sm-2 control-label">打开方式：</span>
				    <div class="col-sm-2 input-group">
						<select class="form-control" name="open_type">
							<option value="1" {{if $nav.open_type == 1}}selected="true"{{/if}}>当前页面</option>
	                        <option value="2" {{if $nav.open_type == 2}}selected="true"{{/if}}>新窗口</option>
						</select>
				    </div>
				</div>
				<div class="form-group">
				    <span class="col-sm-2 control-label">状态：</span>
				    <div class="col-sm-2 input-group">
						<select class="form-control" name="status">
							<option value="1" {{if $nav.status == 1}}selected="true"{{/if}}>开启</option>
	                        <option value="0" {{if $nav.status == 0}}selected="true"{{/if}}>关闭</option>
						</select>
				    </div>
				</div>
			</div>
			<div class="foot_btn_blank"></div>
            <div class="foot_btn">
                <div class="box">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
		</form>
	</div>
</div>
{{include file="layouts/_foot"}}
{{include file="shared/_jquery_validation"}}
<script type="text/javascript">
$("#form").validate({
	rules: {
		value: {required: true}
	},
	messages: {
		value: '热词不能为空'
	},
	submitHandler:function(){
		layer.confirm('确认提交？', function() {
			layer.closeAll(); var load = layer.load();
			$("#form").ajaxSubmit(function(res) {
				layer.close(load);
                if (res.code == 401) {
                    goLogin(); return false;
                }
                if (res.code == 200) {
                    layer.msg('提交成功', {time: 1500}, function() {window.location.href = '{{:url("/admin/design/nav")}}'});
                } else if (res.code == 400) {
                    layer.msg(res.message); return false;
                } else {
                    layer.msg('操作失败'); return false;
                }
			});
		});	
	}
});

</script>
</body>
</html>