<div class="foot-info">
	<div class="info-text">
		<p class="nav-bottom">
			<a href="/article/2.html">关于我们</a><em>|</em><a href="/article/1.html">隐私协议</a><em>|</em><a href="/article/1.html">代理合作</a><em>|</em><a href="/help/6.html">帮助中心</a><em>|</em><a href="/help/18.html">商家入驻</a><em>|</em><a href="/article/21.html">联系我们</a>
		</p>
		<p>{{:Config('system.address')}}</p>
		<p>
			{{:Config('system.copyright')}}
			<a href="javascript:void(0);">{{:Config('system.beian')}}</a>
		</p>
		<p class="qualified">
			<a href="javascript:void(0);"><img src="/static/index/images/beian.png" alt="经营性网址备案信息"></a>
			<a href="javascript:void(0);"><img src="/static/index/images/chengxin.png" alt="诚信网站"></a>
		</p>
	</div>
</div>
{{:Config('system.statistical_code')}} 
<script type="text/javascript" src="/static/index/plugins/jquery/3.3.1/jquery.js?v={{:Config('version.pc.version')}}"></script>
<script type="text/javascript" src="/static/index/plugins/layer/3.1.1/layer.js?v={{:Config('version.pc.version')}}"></script>
<script type="text/javascript" src="/static/index/script/common.js?v={{:Config('version.pc.version')}}"></script>
<script type="text/javascript">
	get_search_hot_word();
</script>