<div class="user-box-menu">
	<div class="padding-t-b-10">
		<div class="item">
			<p class="title"><i class="iconfont">&#xe614;</i><span>个人中心</span></p>
			<a href="{{:url('account/user')}}"><span>个人信息</span><i class="iconfont">&#xe74a;</i></a>
			<a href="{{:url('account/bind')}}"><span>账号绑定</span><i class="iconfont">&#xe74a;</i></a>
			<a href="{{:url('account/address')}}"><span>地址管理</span><i class="iconfont">&#xe74a;</i></a>
			<a href="{{:url('account/security')}}"><span>安全设置</span><i class="iconfont">&#xe74a;</i></a>
		</div>
		<div class="item">
			<p class="title"><i class="iconfont">&#xe61b;</i><span>交易中心</span></p>
			<a href="{{:url('account/order')}}"><span>我的订单</span><i class="iconfont">&#xe74a;</i></a>
		</div>
		<div class="item">
			<p class="title"><i class="iconfont">&#xe626;</i><span>我的关注</span></p>
			<a href="{{:url('account/collectProduct')}}"><span>商品收藏</span><i class="iconfont">&#xe74a;</i></a>
		</div>
	</div>
</div>