<script type="text/javascript" src="/static/admin/plugins/jquery/3.3.1/jquery.js?v={{:Config('version.admin.version')}}"></script>
<script type="text/javascript" src="/static/admin/plugins/Bootstrap/3.3.7/js/bootstrap.js?v={{:Config('version.admin.version')}}"></script>
<script type="text/javascript" src="/static/admin/plugins/layer/2.4/layer.js?v={{:Config('version.admin.version')}}"></script>
<script type="text/javascript" src="/static/admin/script/common.js?v={{:Config('version.admin.version')}}"></script>